<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.alces.androidclass" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="ANDROID.PERMISSION.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Testbed"
            android:label="@string/title_activity_testbed" >
        </activity>
        <activity
            android:name=".RoomsActivity"
            android:label="@string/title_activity_rooms" >
        </activity>
        <activity
            android:name=".Register"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name=".ActiveRoom"
            android:label="@string/title_activity_active_room" >
        </activity>

        <activity
            android:name=".CreateRoomActivity"
            android:label="@string/title_activity_create_room" >
        </activity>

        <activity
            android:name=".RoomEditActivity"
            android:label="@string/title_activity_edit_room" >
        </activity>

    </application>

</manifest>
